{% extends 'use_cases/base.html.twig' %}

{% block title %}Password Expiry - Use Cases{% endblock %}

{% block use_case_title %}Password Expiry Detection{% endblock %}

{% block use_case_content %}
    {% if user %}
        {% include 'use_cases/_user_status.html.twig' with {'user': user, 'isExpired': isExpired, 'daysRemaining': daysRemaining, 'daysSinceExpiry': daysSinceExpiry} %}
        
        <h2>Configuration</h2>
        <div class="config-box">
            <h3>Locked Routes (notified_routes)</h3>
            <p>These routes trigger password expiry checks:</p>
            <ul class="route-list">
                {% for route in lockedRoutes %}
                    <li><code>{{ route }}</code></li>
                {% else %}
                    <li><em>No locked routes configured</em></li>
                {% endfor %}
            </ul>
            
            <h3>Excluded Routes (excluded_notified_routes)</h3>
            <p>These routes are excluded from expiry checks:</p>
            <ul class="route-list">
                {% for route in excludedRoutes %}
                    <li><code>{{ route }}</code></li>
                {% else %}
                    <li><em>No excluded routes configured</em></li>
                {% endfor %}
            </ul>
            
            <h3>Reset Password Route</h3>
            <p><code>{{ resetPasswordRoute ?: 'Not configured' }}</code></p>
        </div>
        
        <h2>How It Works</h2>
        <ol>
            <li>The <code>PasswordExpiryListener</code> listens to kernel request events</li>
            <li>When accessing routes in <code>notified_routes</code>, it checks if the password is expired</li>
            <li>If expired, it shows a flash message (and optionally redirects if <code>redirect_on_expiry</code> is enabled)</li>
            <li>Routes in <code>excluded_notified_routes</code> are never checked, preventing redirect loops</li>
        </ol>
    {% else %}
        {% include 'use_cases/_not_authenticated.html.twig' %}
    {% endif %}
{% endblock %}

